# Project files
*.komodoproject
.idea/
.metadata/
.project
.settings/
.pydevproject
.python-version
.idea
.dartignore

.sw*
*.vim
*.zip

# Code build files
*.egg-info/
build/
__pycache__/
safecast/__pycache__/
safecast/helpers/__pycache__/
*.pyc

# Code documentation
docs/sphinx/_build/
venv/

# Backup files
*.bak
*.log
*.*~
*~

# Sandbox
**/_tmp/*
**/tmp/*
sandbox/
_tmp/

# Scripts
bash/*

# pytest
.cache/*
/htmlcov/
/.coverage

# distribution
.eggs/*
dist/*

